language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t yatishnagaraj/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true yatishnagaraj/react-test npm test

after_success:
    - docker build -t yatishnagaraj/multi-client ./client
    - docker build -t yatishnagaraj/multi-nginx ./nginx
    - docker build -t yatishnagaraj/multi-server ./server
    - docker build -t yatishnagaraj/multi-worker ./worker
    # login to docker hub
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # push all images to docker hub
    - docker push yatishnagaraj/multi-client
    - docker push yatishnagaraj/multi-nginx
    - docker push yatishnagaraj/multi-server
    - docker push yatishnagaraj/multi-worker
